body {
    /*background-color: #E5F2FF;*/
    background-color: #F0F0F0
}
.loginRow{
    height:100vh;
}
.logoBox img {
    max-height: 40px;
}
.logoBox span{

}
.form-control {
    background-color: #e6e6e6 !important;
    border-color: #bbbcbc !important;
}
@media(max-width:991.98px) {
    .logoBox img {
        max-height: 25px;
    }
}
